# Web Scraping for Indeed.com & Predicting Salaries

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary predictor with Logistic Regression.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Question: Why would we want this to be a classification problem?
- Answer: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

In [1]:
URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import requests
import bs4
from bs4 import BeautifulSoup
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn import metrics
import statsmodels.api as sm
%matplotlib inline

### Learning to use Beutifulsoup to extract information out of indeed.com


r = requests.get(URL)
soup = BeautifulSoup(r.content)
results = soup.find_all("div", {'class' : ' row result'})
print results[0].find('span', {'class':'company'}).get_text().strip()
print results[0].find('a', {'class':'turnstileLink'}).get_text().strip()
print results[0].find('span', {'class':'location'}).get_text().strip()

These links helped me determine the behavior of the website in order loop through several results (Pages, cities and salary)

http://www.indeed.com/jobs?q=data+scientist+%2450%2C000&l=New+York%2C+NY
http://www.indeed.com/jobs?q=data+scientist+%2450%2C000&l=San+Francisco%2C+CA
http://www.indeed.com/jobs?q=data+scientist+%2470%2C000&l=San+Francisco%2C+CA
http://www.indeed.com/jobs?q=data+scientist+%24100%2C000&l=San+Francisco%2C+CA
http://www.indeed.com/jobs?q=data+scientist+%2450%2C000+-+%2490%2C000&l=San+Francisco%2C+CA
http://www.indeed.com/jobs?q=data+scientist+%2450%2C000+-+%2490%2C000&l=San+Francisco%2C+CA&start=10
http://www.indeed.com/jobs?q=data+scientist+%2450%2C000+-+%2490%2C000&l=San+Francisco%2C+CA&start=20

Let's look at one result more closely. A single `result` looks like

```
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=2480d203f7e97210&amp;jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a `nobr` element inside of a `td` element with `class='snip`.
- The title of a job is in a link with class set to `jobtitle` and a `data-tn-element="jobTitle`.  
- The location is set in a `span` with `class='location'`. 
- The company is set in a `span` with `class='company'`.

#### Obtaining results for low salary range

In [3]:

base_url = "http://www.indeed.com/jobs?q=data+scientist+%2430%2C000+-+%2480%2C000&l="

start_from = '&start='    # start page number


df = pd.DataFrame()   # create a new data frame

for city in set(['New+York%2C+NY', 'Chicago%2C+IL', 'San+Francisco%2C+CA', 
                                        'Austin%2C+TX', 'Boston%2C+MA']):
    cityString = city
    for page in range(1,21): # Page from 1 to 20 
        page = (page-1) * 10  #Page Equation
        url = "%s%s%s%d" % (base_url, cityString , start_from, page) # get full url 
        r = requests.get(url) #
        soup = BeautifulSoup(r.content,'lxml') 

        results = soup.find_all("div", {'class' : ' row result'}) # we're interested in each row
    
        # trying to get each specific job information (such as company name, job title, ...)
        for i in range(len(results)): 
            comp_name = results[i].find('span', {'class':'company'}).get_text().strip()
            job_title = results[i].find('a', {'class':'turnstileLink'}).get_text().strip()
            location = city
            summary = results[i].find('span',{'class':'summary'}).get_text().strip()
            

    
            # Add job info to our data frame
            df = df.append({'Company Name': comp_name, 'Job Title': job_title, 
                        'Location': location, 'Summary': summary, 
                            'Salary Index': int(0)}, ignore_index=True)

df

,Company Name,Job Title,Location,Salary Index,Summary
0,"Alambic Investment Management, LP",Data Scientist / Engineer,San+Francisco%2C+CA,0.0,"We are a small, entrepreneurial San Francisco-..."
1,Twitch,Data Scientist,San+Francisco%2C+CA,0.0,"We think of Emmett, the CEO, as Twitchâ€™s origi..."
2,Stemcentrx,Senior Scientist I/II/III - Small Molecule Mas...,San+Francisco%2C+CA,0.0,Experience working with various MS data proces...
3,Samba TV,"Research Scientist, Video and Image Processing",San+Francisco%2C+CA,0.0,"Solid foundation in computer science, with str..."
4,Ancestry,Scientific Data Wrangler,San+Francisco%2C+CA,0.0,"Working with a nimble team of physicians, gene..."
5,Trulia,Quantitative Analyst,San+Francisco%2C+CA,0.0,Experience with Big Data tools such as Hive/Pr...
6,Thermo Fisher Scientific,Data Scientist,San+Francisco%2C+CA,0.0,BS in computer science MS in computer science ...
7,DiscoveRx Corporation,Scientist/Senior Scientist,San+Francisco%2C+CA,0.0,Scientist/Senior Scientist position currently ...
8,Natera,Data Scientist,San+Francisco%2C+CA,0.0,Natera is seeking a highly motivated Data Scie...
9,Metabiota,Scientific Marketing Intern,San+Francisco%2C+CA,0.0,"Interact with scientists at Metabiotaâ€™s DC, SF..."
10,University of California Berkeley,"Associate Director of Data Analysis, Haas Scho...",San+Francisco%2C+CA,0.0,Experienced in working with a small to med siz...
11,Walmart eCommerce,Research and Analytics,San+Francisco%2C+CA,0.0,The team will consist of other behavioral scie...
12,PR Hacker,Data Scientist,San+Francisco%2C+CA,0.0,"If so, you might make a killer Data Scientist ..."
13,Fanatics Inc.,Data Scientist,San+Francisco%2C+CA,0.0,Ability to use SQL to perform data analysis. A...
14,Genentech,Scientific Researcher/ Senior Scientific Resea...,San+Francisco%2C+CA,0.0,The position will report to a lead Scientist f...
15,Colliers International | Oakland,Research Analyst,San+Francisco%2C+CA,0.0,Compile statistical data specific to client or...
16,"Illumina, Inc.",Research Associate- Scientist,San+Francisco%2C+CA,0.0,"Strong bioinformatics, data analysis and visua..."
17,Realogy Corporate,Junior Data Scientist,San+Francisco%2C+CA,0.0,Junior Data Scientist. The Junior Data Scienti...
18,University of California San Francisco,Bioinformatics Programmer,San+Francisco%2C+CA,0.0,Superior computer skills in data management an...
19,University of California San Francisco,Research Data Analyst,San+Francisco%2C+CA,0.0,The Research Data Analyst will provide statist...
20,Fanatics Inc.,"MTS 1, Data Scientist",San+Francisco%2C+CA,0.0,Ability to use SQL to perform data analysis. A...
21,Payette Group,Data Scientist,San+Francisco%2C+CA,0.0,Having tens of thousands of debtors and contac...
22,Omada Health,"User Insights Researcher, Product",San+Francisco%2C+CA,0.0,Digging into the whys behind patterns in our d...
23,Nuna,Commercial Health Data Analyst,San+Francisco%2C+CA,0.0,"Works with consultants, analysts and data scie..."
24,SF VA Medical Center,"Statistician, Sr.",San+Francisco%2C+CA,0.0,Experience with data cleaning and data quality...
25,Lyft Corporate,Research & Insights Analyst,San+Francisco%2C+CA,0.0,"In-person, web, mobile, secondary market resea..."
26,University of California San Francisco,Sr. Statistician,San+Francisco%2C+CA,0.0,And will supervise and work with the data mana...
27,MakroScientific,Research Associate,San+Francisco%2C+CA,0.0,"Biological image data analysis, using microsco..."
28,AncestryDNA,Bioinformatic Analyst,San+Francisco%2C+CA,0.0,"Working with a nimble team of physicians, gene..."
29,University of California Berkeley,Research and Policy Analyst,San+Francisco%2C+CA,0.0,"Collect and analyze workforce data, including ..."
...,...,...,...,...,...
824,"Magic Leap, Inc.",Accounting Manager (TX),Austin%2C+TX,0.0,"Ability to define problems, collect data, esta..."
825,Natera,Laboratory Director,Austin%2C+TX,0.0,2 or more yearsâ€™ experience in a CLIA-certifie...
826,University of Texas at Austin,Engineering Scientist Associate - Software Def...,Austin%2C+TX,0.0,Experience with digital data distribution tech...
827,"Myriad Genetics, Inc.",Temporary Laboratory Technician (Testing),Austin%2C+TX,0.0,"The Lab Technician I reports to a Supervisor, ..."
828,Natera,Customer Care Tier 1 Specialist,Austin%2C+TX,0.0,Data collection and maintenance. The Natera te...
829,"Evins Personnel Consultants, Inc.",Medical and Clinical Laboratory,Austin%2C+TX,0.0,"Log data from tests, discuss results and findi..."
830,"Magic Leap, Inc.",Accounting Manager (TX),Austin%2C+TX,0.0,"Ability to define problems, collect data, esta..."
831,Natera,Laboratory Director,Austin%2C+TX,0.0,2 or more yearsâ€™ experience in a CLIA-certifie...
832,University of Texas at Austin,Engineering Scientist Associate - Software Def...,Austin%2C+TX,0.0,Experience with digital data distribution tech...
833,"Myriad Genetics, Inc.",Temporary Laboratory Technician (Testing),Austin%2C+TX,0.0,"The Lab Technician I reports to a Supervisor, ..."
834,Natera,Customer Care Tier 1 Specialist,Austin%2C+TX,0.0,Data collection and maintenance. The Natera te...
835,"Evins Personnel Consultants, Inc.",Medical and Clinical Laboratory,Austin%2C+TX,0.0,"Log data from tests, discuss results and findi..."
836,"Magic Leap, Inc.",Accounting Manager (TX),Austin%2C+TX,0.0,"Ability to define problems, collect data, esta..."
837,Natera,Laboratory Director,Austin%2C+TX,0.0,2 or more yearsâ€™ experience in a CLIA-certifie...
838,University of Texas at Austin,Engineering Scientist Associate - Software Def...,Austin%2C+TX,0.0,Experience with digital data distribution tech...
839,"Myriad Genetics, Inc.",Temporary Laboratory Technician (Testing),Austin%2C+TX,0.0,"The Lab Technician I reports to a Supervisor, ..."
840,Natera,Customer Care Tier 1 Specialist,Austin%2C+TX,0.0,Data collection and maintenance. The Natera te...
841,"Evins Personnel Consultants, Inc.",Medical and Clinical Laboratory,Austin%2C+TX,0.0,"Log data from tests, discuss results and findi..."
842,"Magic Leap, Inc.",Accounting Manager (TX),Austin%2C+TX,0.0,"Ability to define problems, collect data, esta..."
843,Natera,Laboratory Director,Austin%2C+TX,0.0,2 or more yearsâ€™ experience in a CLIA-certifie...
844,University of Texas at Austin,Engineering Scientist Associate - Software Def...,Austin%2C+TX,0.0,Experience with digital data distribution tech...
845,"Myriad Genetics, Inc.",Temporary Laboratory Technician (Testing),Austin%2C+TX,0.0,"The Lab Technician I reports to a Supervisor, ..."
846,Natera,Customer Care Tier 1 Specialist,Austin%2C+TX,0.0,Data collection and maintenance. The Natera te...
847,"Evins Personnel Consultants, Inc.",Medical and Clinical Laboratory,Austin%2C+TX,0.0,"Log data from tests, discuss results and findi..."
848,"Magic Leap, Inc.",Accounting Manager (TX),Austin%2C+TX,0.0,"Ability to define problems, collect data, esta..."
849,Natera,Laboratory Director,Austin%2C+TX,0.0,2 or more yearsâ€™ experience in a CLIA-certifie...
850,University of Texas at Austin,Engineering Scientist Associate - Software Def...,Austin%2C+TX,0.0,Experience with digital data distribution tech...
851,"Myriad Genetics, Inc.",Temporary Laboratory Technician (Testing),Austin%2C+TX,0.0,"The Lab Technician I reports to a Supervisor, ..."
852,Natera,Customer Care Tier 1 Specialist,Austin%2C+TX,0.0,Data collection and maintenance. The Natera te...
853,"Evins Personnel Consultants, Inc.",Medical and Clinical Laboratory,Austin%2C+TX,0.0,"Log data from tests, discuss results and findi..."

#### Obtaining results for high salary range

In [4]:
base_url = "http://www.indeed.com/jobs?q=data+scientist+%2480%2C000+-+%2530%2C000&l="

start_from = '&start='    # start page number


df2 = pd.DataFrame()   # create a new data frame

for city in set(['New+York%2C+NY', 'Chicago%2C+IL', 'San+Francisco%2C+CA', 
                                        'Austin%2C+TX', 'Boston%2C+MA']):
    cityString = city
    for page in range(1,21): # Page from 1 to 20 
        page = (page-1) * 10  #Page Equation
        url = "%s%s%s%d" % (base_url, cityString , start_from, page) # get full url 
        r = requests.get(url) #
        soup = BeautifulSoup(r.content,'lxml') 

        results = soup.find_all("div", {'class' : ' row result'}) # we're interested in each row
    
        # trying to get each specific job information (such as company name, job title, ...)
        for i in range(len(results)): 
            comp_name = results[i].find('span', {'class':'company'}).get_text().strip()
            job_title = results[i].find('a', {'class':'turnstileLink'}).get_text().strip()
            location = city
            summary = results[i].find('span',{'class':'summary'}).get_text().strip()
            

    
            # Add job info to our data frame
            df2 = df2.append({'Company Name': comp_name, 'Job Title': job_title, 
                        'Location': location, 'Summary': summary, 
                            'Salary Index': int(1)}, ignore_index=True)

df2

KeyboardInterrupt:

#### Learning about the data sets

In [5]:
categorical = df.dtypes[df.dtypes == "object"].index
df[categorical].describe()

,Company Name,Job Title,Location,Summary
count,854,854,854,854
unique,498,613,5,721
top,Natera,Research Analyst,Boston%2C+MA,"Log data from tests, discuss results and findi..."
freq,37,40,180,14

In [6]:
categorical = df2.dtypes[df.dtypes == "object"].index
df2[categorical].describe()

,Company Name,Job Title,Location,Summary
count,436,436,436,436
unique,76,129,4,121
top,Talon,"Dynamics GP Accounting Manager - Chicago, Illi...",New+York%2C+NY,"For over 30 years, we have served both clients..."
freq,55,19,180,20

#### Merging the two dataframes together

In [ ]:
mergedDF = [df, df2]
df4 = pd.concat(mergedDF)
df4 = df4.reset_index()
del df4['index']

### Save your results as a CSV

In [ ]:
df4.to_csv("datascience.csv", encoding='utf-8')

## Predicting salaries using Logistic Regression

#### Load in the the data of scraped salaries, create dummy variables for the cities and perform a train test split on the data.

In [7]:
df4 = pd.read_csv("../Assets/Project4/datascience.csv")
df5=df4[['Location','Salary Index']]
dummies = pd.get_dummies( df5["Location"], prefix = "Location" )
dummies['Intercept']=1
dummies.columns=['Austin','Boston', 'Chicago','New York','San Francisco','Intercept']
y=df5['Salary Index']
X=dummies[['Boston','Chicago','New York','San Francisco','Intercept']]
# split data randomly into datasets, 70% train, 30% test using test train split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.30, random_state=30)

#JB need a little more explanation and what you're doing.
# You're creating dummies for the cities? Which one do you plan on dropping?

#### Create a Logistic Regression model to predict High/Low salary using statsmodel. Start by ONLY using the location as a feature. Display the coefficients and write a short summary of what they mean.

In [8]:
logit = sm.Logit(y_train, X_train)
result = logit.fit()
result.summary()

#JB what does this mean? what's the intercept?

Optimization terminated successfully.
         Current function value: 0.644395
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:           Salary Index   No. Observations:                  933
Model:                          Logit   Df Residuals:                      928
Method:                           MLE   Df Model:                            4
Date:                Fri, 01 Jul 2016   Pseudo R-squ.:                 0.03073
Time:                        10:55:52   Log-Likelihood:                -601.22
converged:                       True   LL-Null:                       -620.28
                                        LLR p-value:                 1.057e-07
=================================================================================
                    coef    std err          z      P>|z|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------
Boston            0.0009      0.217      0.004      0.997        -0.424     0.426
Chicago          -0.6417      0.236     -2.716      0.007        -1.105    -0.179
New York         -0.1917      0.221     -0.868      0.385        -0.624     0.241
San Francisco    -1.2042      0.262     -4.603      0.000        -1.717    -0.691
Intercept        -0.1355      0.174     -0.780      0.436        -0.476     0.205
=================================================================================
"""

In [9]:
np.exp(result.params) #convert your parameters to odds ratio

Boston           1.000889
Chicago          0.526405
New York         0.825581
San Francisco    0.299923
Intercept        0.873239
dtype: float64

In [10]:
conf=result.conf_int()
conf['OR']=result.params
conf.columns=['2.5%','97.5%','OR']
np.exp(conf)#convert to odds ratio

                   2.5%     97.5%        OR
Boston         0.654124  1.531481  1.000889
Chicago        0.331291  0.836431  0.526405
New York       0.535650  1.272444  0.825581
San Francisco  0.179600  0.500858  0.299923
Intercept      0.621122  1.227692  0.873239

In [11]:
dfTest=X_test
dfTest['predictedSalary'] = result.predict( dfTest )
dfTest["actualSalary"] = y_test

/Users/jb3/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/jb3/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

#### This loop helped me determine the best cutoff point for my model

In [12]:
for i in range(45,56,1):
    cutoff=i/100.0
    xyz = dfTest["predictedSalary"]
    dfTest["Predicted"] = [0 if i < cutoff else 1 for i in xyz]
    A= confusion_matrix(dfTest['actualSalary'],dfTest['Predicted'])
    Accuracy = (A[0,0]+ A[1,1])/float(len(dfTest["Predicted"]))
    print "My cutoff is: %r and ACC: %r"%(cutoff,Accuracy)

/Users/jb3/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

My cutoff is: 0.45 and ACC: 0.55361596009975067
My cutoff is: 0.46 and ACC: 0.55361596009975067
My cutoff is: 0.47 and ACC: 0.6059850374064838
My cutoff is: 0.48 and ACC: 0.6059850374064838
My cutoff is: 0.49 and ACC: 0.6059850374064838
My cutoff is: 0.5 and ACC: 0.6059850374064838
My cutoff is: 0.51 and ACC: 0.6059850374064838
My cutoff is: 0.52 and ACC: 0.6059850374064838
My cutoff is: 0.53 and ACC: 0.6059850374064838
My cutoff is: 0.54 and ACC: 0.6059850374064838
My cutoff is: 0.55 and ACC: 0.6059850374064838

#### Using the information from the previous step, a cutoff of 0.46 is used.

In [ ]:
#JB wwhy, when .47 gives you more ACC?

In [13]:
cutoff=0.46
xyz = dfTest["predictedSalary"]
dfTest["Predicted"] = [0 if i < cutoff else 1 for i in xyz]
print pd.crosstab(dfTest['actualSalary'], dfTest['Predicted'], rownames=['Actual'])

Predicted    0   1
Actual
0.0        151  92
1.0         87  71

/Users/jb3/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [14]:
Accuracy = (222)/float(len(dfTest["Predicted"]))
Accuracy

0.5536159600997507

The accuracy of the model is around 55% which is a very low number to work with. I believe that there is a lot of Bias in the data collected. I belive that a more reliable source of data should be found. I will continue to use this data set to see if it is possible to increase the accuracy of the model using other tools available.

#### Rebuild this model with scikit-learn.
- You can either create the dummy features manually or use the `dmatrix` function from `patsy`
- Remember to scale the feature variables as well!

In [15]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.30, random_state=30)
model2 = LogisticRegression()
model2.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [16]:
dfTest2=X_test
dfTest2['predictedSalary'] = model2.predict(X_test)
dfTest2["actualSalary"] = y_test

/Users/jb3/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/jb3/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [17]:
print metrics.accuracy_score(y_test, dfTest2['predictedSalary'])
print pd.crosstab(y_test, dfTest2['predictedSalary'], rownames=['Actual'])

0.605985037406
predictedSalary  0.0
Actual
0.0              243
1.0              158

Clearly using sklearn logistic regression does improve my accuracy but the model is wrong as it is just predicting everything to be low salary.

#### Use cross-validation in scikit-learn to evaluate the model above.

In [18]:
scores = cross_val_score(LogisticRegression(), X, y, scoring='accuracy', cv=10)
print scores
print scores.mean()

[ 0.6119403   0.6119403   0.6119403   0.17910448  0.61654135  0.61654135
  0.61654135  0.38345865  0.37593985  0.61654135]
0.524048928291

#### Compare L1 and L2 regularization for this logistic regression model. What effect does this have on the coefficients learned?

In [19]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.30, random_state=30)
L1Model= LogisticRegression(penalty='l1')
L1Model.fit(X_train, y_train)
dfTest3=X_test
dfTest3['predictedSalary'] = L1Model.predict(X_test)
dfTest3["actualSalary"] = y_test
print metrics.accuracy_score(y_test, dfTest3['predictedSalary'])
print pd.crosstab(y_test, dfTest3['predictedSalary'], rownames=['Actual'])

0.605985037406
predictedSalary  0.0
Actual
0.0              243
1.0              158

/Users/jb3/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/jb3/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.30, random_state=30)
L2Model= LogisticRegression(penalty='l2')
L2Model.fit(X_train, y_train)
dfTest4=X_test
dfTest4['predictedSalary'] = L2Model.predict(X_test)
dfTest4["actualSalary"] = y_test
print metrics.accuracy_score(y_test, dfTest4['predictedSalary'])
print pd.crosstab(y_test, dfTest4['predictedSalary'], rownames=['Actual'])

0.605985037406
predictedSalary  0.0
Actual
0.0              243
1.0              158

/Users/jb3/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/jb3/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the text summaries. 
- Examine using count or binary features in the model
- Re-evaluate the logistic regression model using these. Does this improve the model performance? 
- What text features are the most valuable?

In [21]:
## YOUR CODE HERE

In [22]:
## YOUR CODE HERE

#### Re-test L1 and L2 regularization. You can use LogisticRegressionCV to find the optimal reguarlization parameters. 
- Re-test what text features are most valuable.  
- How do L1 and L2 change the coefficients?

Score: | 17/21
------|-------
Identify: Problem Statement / Aim| 1
Acquire: Import Data Using Requests + BeautifulSoup| 3
Parse: Clean & Organize Data| 3
Model: Perform Logistic Regression| 3
Evaluate: Logistic Regression				|2
Present: Write a report for your audience addressing findings & recommendations		| 2
Interactive visualization | 0
Bonus: Countvectorizer, Regularization Parameters| 3
Bonus! Present: Create blog post summary	| 0

In [ ]:
#JB your code is great, but there is a serious lack of explanation
# will make it very difficult for you to refine/improve this down the road.